<header>
  <nav class="top-nav">
    <a routerLink="/">
      <img src="../../../assets/images/pandf-nav-logo.png" alt="" />
    </a>
    <a routerLink="/about">About</a>
    <a routerLink="/blogs">Blogs</a>
    <a routerLink="/collaborate">Collaborate</a>
    <a routerLink="/events">Events</a>
    <a routerLink="/roundtable">Roundtable</a>
    <a routerLink="/amreading">#AmReading</a>
  </nav>
  <div
    class="header-image"
    [style.backgroundImage]="'url(' + headerImageURL + ')'"
    [ngStyle]="headerImageMargin"
  ></div>
  <nav class="bottom-nav" [ngStyle]="bottomNavPlacement">
    <button class="join">Join Pare and Flourish Now!</button>
    <div>
      <input type="text" placeholder="start typing here" />
      <button class="search">Search</button>
    </div>
  </nav>
</header>
