<footer>
  <section class="footer-primary">
    <div class="sitemap">
      <h3>Sitemap</h3>
      <ul>
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/about">About</a></li>
        <li><a routerLink="/collaborate">Collaborate</a></li>
        <li><a routerLink="/events">Events</a></li>
        <li><a routerLink="/roundtable">Roundtable</a></li>
        <li><a routerLink="/amreading">#AmReading</a></li>
        <li><a routerLink="/">Subscribe</a></li>
        <li><a routerLink="/">FAQ</a></li>
        <li><a routerLink="/blogs">Blogs</a></li>
      </ul>
    </div>
    <div class="support">
      <h3>Support</h3>
      <span>
        If you like what you see please consider supporting us on Patreon!
      </span>
      <app-button></app-button>
    </div>
    <div class="contact">
      <h3>Contact</h3>
      <span>
        Email:
        <a class="email" href="mailto:contact@pareandflourish.com">
          contact@pareandflourish.com
        </a>
        <div>
          <a href="">
            <img src="../../../assets/images/icons/twitter.svg" alt="" />
          </a>
          <a href="">
            <img src="../../../assets/images/icons/rss.svg" alt="" />
          </a>
          <a href="">
            <img src="../../../assets/images/icons/facebook.svg" alt="" />
          </a>
          <a href="">
            <img src="../../../assets/images/icons/instagram.svg" alt="" />
          </a>
          <a href="">
            <img src="../../../assets/images/icons/linkedin.svg" alt="" />
          </a>
          <a href="">
            <img src="../../../assets/images/icons/paypal.svg" alt="" />
          </a>
        </div>
      </span>
    </div>
  </section>
  <section class="colophon">
    <span>&copy; Pare and Flourish, {{ currentDate.getFullYear() }}</span>
    <a routerLink="/">Terms and Conditions</a>
  </section>
</footer>
