@import "../../assets/scss/main.scss";

/***************************************************************************************************
header image
***************************************************************************************************/

%header-image {
  height: 250px;
  background-size: cover;
  background-position: center;
}

%header-image-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 3rem;
  font-family: $primaryFont;
  width: 100%;
  height: 100%;
  background-color: rgba($black, 0.5);
  color: $white;
}

#header-image {
  @include userSelect(none);
  margin: $autoMargin;
  margin-top: 70px; // so that image isnt behind top navigation bar when scrolled to top
  img {
    border: none;
    border-radius: 0;
  }
  .post-image {
    @extend %header-image;
    &-content {
      @extend %header-image-content;
      font-size: 1.15rem;
      letter-spacing: 4px;
    }
  }
  .page-image {
    @extend %header-image;
    &-content {
      @extend %header-image-content;
      font-size: 2.15rem;
      letter-spacing: 5px;
    }
  }
  .landing-page-image {
    @extend %header-image;
    background-image: url("../../assets/images/header/pare-and-flourish.jpg");
  }
}

/***************************************************************************************************
navigation bar
***************************************************************************************************/

.join-and-search-container {
  display: flex;
  align-content: center;
  width: 100%;
  background-color: $white;
  box-shadow: 0 0 20px rgba($black, 0.1);
  border-bottom: 2px solid $accent;
  z-index: 8675311;
  height: 2rem;
  line-height: 0.25;
  .join {
    @include userSelect(none);
    display: flex;
    flex: 1;
    margin: 0;
    padding: 0;
    span {
      @include transition(0.3s, ease, box-shadow);
      border-bottom: none;
      font-family: $primaryFont;
      list-style: none;
      padding: .85rem 5rem;
      box-shadow: inset 0 0 2px rgba($black, 0.15);
      cursor: pointer;
      background: $accent;
      text-align: center;
      width: 100%;
      &:hover {
        box-shadow: inset 0 0 4px rgba($black, 0.25);
        color: $white;
      }
    }
  }
  .search {
    display: flex;
    flex: 1;
    form {
      display: flex;
      width: 100%;
      input {
        font-family: $primaryFont;
        margin: auto;
        &[type="submit"] {
          flex: 1;
          padding: 0 4rem;
          background: $accent;
          box-shadow: inset 0 0 2px rgba($black, 0.15);
          border: none;
          margin: 0;
          &:hover {
            box-shadow: inset 0 0 4px rgba($black, 0.25);
            color: $white;
          }
        }
        &[type="text"] {
          flex: 4;
          border: none;
        }
      }
    }
  }
  &-top {
    position: fixed;
    top: 70px;
  }
}

@media screen and (max-width: 670px) {
  .join-and-search-container {
    .join a {
      width: 100%;
      text-align: center;
    }
    .search {
      display: none;
    }
  }
}

.menuTabs {
  @include userSelect(none);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: $gray;
  text-align: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 8675311;
}

.menuTabsContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 70px;
  background: $white;
}

.menuTab {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  font-family: $primaryFont;
  color: $black;
  font-size: 1em;
  img {
    max-height: 70px;
    padding: 6px;
    border: none;
    box-shadow: none;
  }
  a {
    text-decoration: none;
    color: $white;
    &:hover,
    &:active,
    &:focus {
      text-decoration: none;
      color: $white;
    }
  }
  img {
    filter: invert(100%);
  }
  &:hover {
    color: $white;
    text-decoration: none;
    background: rgba($accent, 0.8);
    img {
      filter: invert(0%);
    }
  }
}

.menuTabOverlay {
  display: none;
}


@media screen and (max-width: 800px) {
  .menuTab {
    &:nth-of-type(2),
    &:nth-of-type(3),
    &:nth-of-type(4),
    &:nth-of-type(5),
    &:nth-of-type(6),
    &:nth-of-type(7) {
      display: none;
    }
  }
}