@import "../../assets/scss/main.scss";

/***************************************************************************************************
footer
***************************************************************************************************/

footer {
  max-width: 100%;
  overflow-x: hidden;
  #footerPrimary {
    display: flex;
    padding: 2rem;
    .content {
      .footerLogo,
      .footerPageLinks,
      .footerSupportUs,
      .footerContact {
        font-size: 1.15rem;
        text-align: center;
        padding: 1rem 2rem;
        h3 {
          color: $gray;
          border-bottom: 2px solid $accent;
        }
      }
      .footerLogo {
        display: flex;
        justify-content: center;
        flex-direction: column;
        a {
          border-bottom: none;
          &:hover {
            background: transparent;
          }
          img {
            @include userSelect(none);
            border: none;
            box-shadow: none;
            max-width: 125px;
          }
        }
      }
      .footerPageLinks {
        ul {
          padding: 0;
          li {
            padding: .25rem;
            list-style: none;
          }
        }
      }
      .footerSupportUs {
        span {
          display: block;
        }
        a {
          &.commonButton {
            width: auto;
            margin-top: 1rem;
            padding: 1rem;
            font-weight: normal;
            background: $accent;
          }
          &:hover {
            color: $white;
          }
        }
      }
      .footerContact {
        span {
          &.email {
            display: block;
          }
        }
        .socialLinks {
          padding: .5rem;
          a {
            border-bottom: none;
            svg {
              fill: lighten($gray, 25%);
              max-width: 16px;
            }
            &:hover {
              background: transparent;
            }
          }
        }
      }
    }
  }
  #colophon {
    background: $accentGradient;
    padding: 2rem;
    font-size: 1.15rem;
    .content {
      display: flex;
      flex-direction: column-reverse;
      text-align: center;
      span {
        padding: .5rem;
      }
    }
  }
  @media screen and (min-width: 787px) {
    #footerPrimary {
      .content {
        display: flex;
        .footerLogo,
        .footerPageLinks,
        .footerContact {
          flex: 1;
        }
        .footerSupportUs {
          flex: 2;
        }
        .footerPageLinks {
          ul {
            columns: 2;
          }
        }
      }
    }
    #colophon {
      .content {
        flex-direction: row;
        span {
          &:first-child {
            margin-right: auto;
          }
        }
      }
    }
  }
}
