/***************************************************************************************************
variables
***************************************************************************************************/

// media query breakpoints (same as bootstrap)
$small: 576px;
$medium: 768px;
$large: 992px;
$xlarge: 1200px;

// theme colors
$purple: #dacee8;
$white: #fdfdfd;
$gray: #333;
$black: #080808;
$purpleGradient: linear-gradient(45deg, $purple, darken($white, 10%));

// transition colors
$purpleLighten: lighten($purple, 5%);

// social media colors
$colorTwitter: #00aced;
$colorGithub: #171516;
$colorPinterest: #bd081c;
$colorInstagram: #c13584;
$colorPaypal: #009cde;
$colorFacebook: #3b5998;
$colorRSS: #f26522;

// borders
$commonBorder: 1px solid rgba($gray, 0.5);
$commonRadius: 2px;

// box shadows
$commonShadow: 0 0 8px rgba($gray, 0.33);
$commonShadowHover: 0 0 12px rgba($gray, 0.5);

$titleFont: "Playfair Display SC", serif;
$bodyFont: "Open Sans", sans-serif;

// margins
$zeroMargin: 0;
$autoMargin: 0 auto;

// paddings
$zeroPadding: 0;

/***************************************************************************************************
custom mixins
***************************************************************************************************/

@mixin transition($time, $type, $selector) {
  -webkit-transition: $time $type $selector;
  -moz-transition: $time $type $selector;
  -o-transition: $time $type $selector;
  transition: $time $type $selector;
}

@mixin transitionDelay($time) {
  -webkit-transition-delay: $time;
  transition-delay: $time;
}

@mixin userSelect($arg) {
  -webkit-user-select: $arg;
  -moz-user-select: $arg;
  -ms-user-select: $arg;
  user-select: $arg;
}

@mixin rotate($degrees) {
  -webkit-transform: rotate($degrees);
  -moz-transform: rotate($degrees);
  -ms-transform: rotate($degrees);
  -o-transform: rotate($degrees);
  transform: rotate($degrees);
}

@mixin translate3D($x, $y, $z) {
  -webkit-transform: translate3d($x, $y, $z);
  -moz-transform: translate3d($x, $y, $z);
  -ms-transform: translate3d($x, $y, $z);
  -o-transform: translate3d($x, $y, $z);
  transform: translate3d($x, $y, $z);
}

/***************************************************************************************************
animate mixins
***************************************************************************************************/

@mixin transition($time, $type, $selector) {
  -webkit-transition: $time $type $selector;
  -moz-transition: $time $type $selector;
  -o-transition: $time $type $selector;
  transition: $time $type $selector;
}

$countDefault: 1 !default;
$durationDefault: 1s !default;
$delayDefault: 0s !default;
$functionDefault: ease !default;
$fillDefault: both;
$visibilityDefault: hidden !default;

@mixin count($count: 1) {
  -webkit-animation-iteration-count: $count;
  -moz-animation-iteration-count: $count;
  -ms-animation-iteration-count: $count;
  -o-animation-iteration-count: $count;
  animation-iteration-count: $count;
}

@mixin duration($duration: 1s) {
  -webkit-animation-duration: $duration;
  -moz-animation-duration: $duration;
  -ms-animation-duration: $duration;
  -o-animation-duration: $duration;
  animation-duration: $duration;
}

@mixin delay($delay: 0.2s) {
  -webkit-animation-delay: $delay;
  -moz-animation-delay: $delay;
  -ms-animation-delay: $delay;
  -o-animation-delay: $delay;
  animation-delay: $delay;
}

@mixin function($function: ease) {
  -webkit-animation-timing-function: $function;
  -moz-animation-timing-function: $function;
  -ms-animation-timing-function: $function;
  -o-animation-timing-function: $function;
  animation-timing-function: $function;
}

@mixin fill-mode($fill: both) {
  -webkit-animation-fill-mode: $fill;
  -moz-animation-fill-mode: $fill;
  -ms-animation-fill-mode: $fill;
  -o-animation-fill-mode: $fill;
  animation-fill-mode: $fill;
}

@mixin visibility($visibility: hidden) {
  -webkit-backface-visibility: $visibility;
  -moz-backface-visibility: $visibility;
  -ms-backface-visibility: $visibility;
  -o-backface-visibility: $visibility;
  backface-visibility: $visibility;
}

@mixin transform($property) {
  -webkit-transform: $property;
  -moz-transform: $property;
  -ms-transform: $property;
  -o-transform: $property;
  transform: $property;
}

@mixin transform-origin($transform-origin: center center) {
  -webkit-transform-origin: $transform-origin;
  -moz-transform-origin: $transform-origin;
  -ms-transform-origin: $transform-origin;
  -o-transform-origin: $transform-origin;
  transform-origin: $transform-origin;
}

@mixin transform-style($transform-style: flat) {
  -webkit-transform-style: $transform-style;
  -moz-transform-style: $transform-style;
  -o-transform-style: $transform-style;
  transform-style: $transform-style;
}

@mixin animation-name($animation-name) {
  -webkit-animation-name: $animation-name;
  -moz-animation-name: $animation-name;
  -ms-animation-name: $animation-name;
  -o-animation-name: $animation-name;
  animation-name: $animation-name;
}

@mixin keyframes($animation-name) {
  @-webkit-keyframes #{$animation-name} {
    @content;
  }
  @-moz-keyframes #{$animation-name} {
    @content;
  }
  @-ms-keyframes #{$animation-name} {
    @content;
  }
  @-o-keyframes #{$animation-name} {
    @content;
  }
  @keyframes #{$animation-name} {
    @content;
  }
}

@include keyframes(fadeIn) {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@mixin fadeIn(
  $count: $countDefault,
  $duration: $durationDefault,
  $delay: $delayDefault,
  $function: $functionDefault,
  $fill: $fillDefault,
  $visibility: $visibilityDefault
) {
  @include animation-name(fadeIn);
  @include count($count);
  @include duration($duration);
  @include delay($delay);
  @include function($function);
  @include fill-mode($fill);
  @include visibility($visibility);
}