@import "../../assets/scss/main.scss";

%cardOverlay {
  @include transition(0.4s, ease-out, all);
  @include transitionDelay(0.1s);
  height: 100%;
  color: $gray;
  position: absolute;
  top: 0;
}

%cardFlex {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

%cardCommon {
  background: transparent;
  border-radius: $commonRadius;
  overflow: hidden;
  display: block;
  color: inherit;
  text-decoration: none;
  position: relative;
  // box-shadow: 
}

.card {
  display: grid; // see grid container (.latest-blogs) in _base.scss
  box-shadow: 0 0.05rem 0.3rem rgba($black, 0.35);
  border-radius: $commonRadius;
  a {
    @include transition(0.4s, ease-in-out, color);
    @extend %cardCommon;
    border: none;
    header, main {
      padding: 0 5px 5px;
    }
    main {
      color: gray;
    }
    figure.tileImage {
      overflow: hidden;
      margin: 0;
      img {
        @include userSelect(none);
        border: none;
        border-bottom: 2px solid $accent;
        max-width: 100%;
        box-shadow: none;
      }
    }
    &:hover {
      background: transparent;
      h3 {
        color: $accent;
      }
      .tileOverlay {
        @extend %cardOverlay;
        width: 100%;
        background: $accentGradient;
        opacity: 0.95;
      }
    }
    br {
      color: black;
    }
    @media screen and (max-width: 767px) {
      height: 100%;
    }
  }
}


.tileOverlay {
  @extend %cardFlex;
  @extend %cardOverlay;
  align-content: center;
  flex-flow: wrap;
  width: 0%;
  background: $accent;
  opacity: 0;
  text-align: center;
  span {
    @include userSelect(none);
    white-space: nowrap;
    font-family: $primaryFont;
    text-align: center;
    max-height: 100%;
    border: 2px solid $gray;
    display: inline-block;
    padding: 10px 30px;
    border-radius: $commonRadius;
    color: $black;
    font-size: 16px;
  }
  @media screen and (max-width: 767px) {
    display: none;
  }  
}